<app-nav-bar></app-nav-bar>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-link"  data-toggle="modal" data-target="#addProductModal" (click)="setAction('add')">Add</button>
    <button type="button" class="btn btn-link"  data-toggle="modal" data-target="#addProductModal"(click)="setAction('update');setProduct()">Update</button>
    <button type="button" class="btn btn-link" (click)="deleteProduct()">Delete</button>
  </div>
</div>

<ag-grid-angular
    style="width: 100%;"
    class="ag-theme-alpine"
    [rowData]="products"
    [columnDefs]="columnDefs"
    [pagination]="true"
    (gridReady)="onGridReady($event);"
    rowSelection="single"
    [defaultColDef]="defaultColDef"
    (cellClicked)='onCellClicked($event)'>
</ag-grid-angular>

<div [hidden]="!showCurrencyModal" data-toggle="modal" id="currencyModal" tabindex="-1" role="dialog" aria-labelledby="currencyModal" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="currencyModalLabel">Currencies</h5>
          <button type="button" class="close" aria-label="Close" (click)="setShowCurrencyModal()">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <ul *ngFor="let obj of this.currency.rates | keyvalue">
            <li>{{obj.key}}: {{obj.value}}</li>
          </ul>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" (click)="setShowCurrencyModal()">Close</button>
          </div>
       </div>
    </div>
  </div>
  </div>

<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Add Contract</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="saveProduct(addForm)">
          <input type="hidden" name="productId"  [(ngModel)]="product.productId" />
          <div class="form-group">
             <label for="name">Name</label>
             <input type="text"  [(ngModel)]="product.name" name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text"  [(ngModel)]="product.description" name="description" class="form-control" id="description" placeholder="Description" required>
         </div>
          <div class="form-group">
            <label for="customerId">Currency</label>
            <select class="form-control" name="base" required [(ngModel)]="product.base">
              <option selected></option>
              <option value="EUR">EUR</option>
              <option value="GBP">GBP</option>
              <option value="USD">USD</option>
              <option value="AUD">AUD</option>
              <option value="CHF">CHF</option>
              <option value="CNY">CNY</option>
              <option value="JPY">JPY</option>
            </select>
          </div>
          <div class="form-group">
             <label for="text">Price</label>
             <input type="text" [(ngModel)]="product.price" name="price" class="form-control" id="price" placeholder="Price" required>
          </div>
          <div class="form-group">
            <label for="text">Categories</label>
            <app-multiselect-dropdown></app-multiselect-dropdown>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-customer-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>


